<!DOCTYPE html>
<html>
<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" >   

</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This is was created by openriot. It uses data from mpabox.com and darksky.net!</p>
    <img class="portrait" src="/img/me.jfif">
    </div>
    {{>footer}}
</body>
</html>